@font-face {
    font-family: 液晶数字字体;
    src: url("../lib/液晶数字字体.TTF");
}
body{
    background-image: url("../images/BG.png");
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container{
    color: #FFF;
    /*padding:0 20px;*/
    font-size: 0.25rem;
    margin: 0;
    width: 100%;
    height: 100%;
    /*background-image: url("./images/BG.png");*/
    /*overflow: hidden;*/
}
.title{
    padding: 0.125rem 0.2rem 0 0.1rem;
    background-image: url("../images/pic21.png");
}
.title img{
    width: 0.08rem;
    height: 0.4rem;
}
.left span:last-child{
    padding: 0 0.05rem;
}
.right{
    float: right;
    position: absolute;
    top: 0.16rem;
    right: 0.2rem;
    font-size: 0.1rem;
}

.key{
    color: #40c5fa;
}
.key:nth-child(2),
.key:nth-child(3){
    opacity: 0.6;
}
.value{
    font-family: 液晶数字字体;
    color: #FFFFFF;
    font-size: 0.2rem;
}
.footer{
    list-style: none;
    position: absolute;
    top: 0.75rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer li{
    float: left;
    width: 47%;
    height: 47%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 1%  0.1rem 1.5% 0.1rem;
}
.footer li:nth-of-type(1),
.footer li:nth-of-type(3){
    left: 0.2rem;
}
.footer li:nth-of-type(2),
.footer li:nth-of-type(4){
    right: 0;
}
.footer li:nth-of-type(3),
.footer li:nth-of-type(4){
    top: 49%;
}
.footTitle{
    padding: 0.125rem;
    position: absolute;
    top: 0;
    font-size: 0.1rem;
}
.footTitle span:last-child{
    padding: 0.1rem;
}
.contentChart{
    width: 90%;
    height: 72%;
    position: absolute;
    top: 13%;
    padding-left: 3%;
    padding-top: 1%;
}
.bgImg{
    width: 100%;
    /* height: 100%; */
    background-color: #083967;
    opacity: 0.35;
    padding-bottom: 0.1rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.titleCls{
    position: absolute;
    bottom: 0.1rem;
    left: 1.2rem;
    font-size: 0.1rem;
}
.titleClsSub{
    left: 1.43rem;
}
.titleClsSpecial{
    left: 1.2rem;
}