<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id='root'>
    </div>
    <a href="../page/page.html">toPage</a>
    <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
    <%= htmlWebpackPlugin.options.date %>
***************************************************
	<% for (var key in htmlWebpackPlugin) {%>
		<%=key%>
	<% } %>
***************************************************
	<% for (var key in htmlWebpackPlugin.files) { %>
		<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
	<% } %>
***************************************************
	<% for (var key in htmlWebpackPlugin.options) { %>
		<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>
	<% } %>

***************************************************
    <%= htmlWebpackPlugin.files.chunks.index.entry.substr(htmlWebpackPlugin.files.publicPath.length) %> 
***************************************************
<%= compilation.assets[htmlWebpackPlugin.files.chunks.index.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
***************************************************
	<% for (var k in htmlWebpackPlugin.files.chunks) { %>
		<script src="<%= htmlWebpackPlugin.files.chunks[k].entry %>"></script>
	<% } %>
    <script src="../js/index/index.js"></script>
  </body>
</html>