html, body {
  height: 100%;
  margin: 0;
  background: #f4f4f4;
  -webkit-overflow-scrolling:touch;
  overflow-scrolling:touch;
  font-family: PingFangSC-Regular, sans-serif;
}
body{
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
element{
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
}
a {
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

/*1px边框*/
@media only screen and (-webkit-min-device-pixel-ratio: 2){
  .lineBorderAfter:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .lineBorderBefore:before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .lineBorderLeft:before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .lineBorderRight:before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

.lineBorderAfter:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.lineBorderBefore:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: auto;
  right: auto;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.lineBorderLeft:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: auto;
  right: auto;
  top: auto;
  width: 1px;
  height: 100%;
  background-color: #ccc;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.lineBorderRight:before{
  content: '';
  position: absolute;
  left: auto;
  bottom: auto;
  right: 0;
  top: auto;
  width: 1px;
  height: 100%;
  background-color: rgb(229,229,230);
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
/*1px边框*/


.top{
  margin-top: 0.96rem;
}

/*列表每一个item的样式*/
.selfMention{
  display: flex;
  align-items: center;
  padding-bottom: 0.3rem;
}
.selfMentionImg{
  width: 2rem;
  height: 2rem;
  margin-right: 0.3rem;
  -webkit-border-radius: 0.16rem;
  -moz-border-radius: 0.16rem;
  border-radius: 0.16rem;
}
.infoGroup{
  width: 4.52rem;
  height: 2rem;
  position: relative;
}
.infoGroup .title{
  font-size: 0.3rem;
  /*height: 0.8rem;*/
  color: rgb(51, 51, 51);
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.infoGroup .dataGroup{
  padding-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0.1rem;
}
.priceGroup{
  /*display: flex;*/
  /*align-items: center;*/
}
.price{
  color: rgb(255, 91, 31);
  font-size: 0.34rem;
  font-weight: bold;
}
.originPrice{
  color: rgb(153, 153, 153);
  font-size: 0.28rem;
  text-decoration: line-through;
  padding-left: 0.19rem;
}
.num{
  font-size: 0.24rem;
  color: rgb(51, 51, 51);
  margin-top: 0.05rem;
}
.nowToBuy{
  height: 0.65rem;
  line-height: 0.65rem;
  font-size: 0.3rem;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  border-radius: 0.1rem;
  border: none;
  color: #fff;
  background: linear-gradient(to bottom right, #ff5b1f , #ff7200);
  padding: 0 0.1rem;
}
/*列表每一个item的样式*/


/**橙色勾*/
.myicon-tick-checked {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(255, 92, 30);
}
/**灰色勾*/
.myicon-tick-uncheck {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 18px;
  border-radius: 50%;
  background-color: #eee;
}
.myicon-tick-checked:before, .myicon-tick-checked:after,.myicon-tick-uncheck:before,.myicon-tick-uncheck:after {
  content: '';
  pointer-events: none;
  position: absolute;
  color: white;
  border: 1px solid;
  background-color: white;
}
.myicon-tick-checked:before,.myicon-tick-uncheck:before {
  width: 2px;
  height: 2px;
  left: 25%;
  top: 50%;
  transform: skew(0deg,50deg);
}
.myicon-tick-checked:after,.myicon-tick-uncheck:after {
  width: 3px;
  height: 1px;
  left: 45%;
  top: 42%;
  transform: skew(0deg,-50deg);
}
