@font-face {
    font-family: 液晶数字字体;
    src: url('../fonts/液晶数字字体.eot');
    src:
            url('../fonts/液晶数字字体.eot?#iefix') format('embedded-opentype'),
            url('../fonts/液晶数字字体.woff') format('woff'),
            url('../fonts/液晶数字字体.ttf') format('truetype'),
            url('../fonts/液晶数字字体.svg') format('svg');

}
body{
    background-image: url("../../images/bg.png");
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container2{
    position: absolute;
    left: 24.102564%;
    top: 0;
    width: 50.649573%;
    height: 100%;
    padding-left: 0.854701%;
}
.mapTitle{
    padding-top: 4.658333%;
    font-size: 0.09945609945609946rem;
    position: absolute;
    z-index: 9999;
}
.styleCls{
    color: #40c5fa;
}
.subTitle{
    border: 3px solid #12264d;
    margin-top: 0.06408651549119776rem;
    background-color: #041634;
    padding: 0.02rem 0.02rem 0.03rem 0.02rem;
    width: auto;
    /* height: 150%; */
    text-align: center;
    text-align-last: center;
}
.fontCls{
    font-family: 液晶数字字体;
    color: #40c5fa;
}
.dateInfo{
    position: absolute;
    top: 0;
    padding-top: 5.5%;
    right: 0.05056055056055056rem;
    font-size: 0.06056055056055056rem;
}
.numberFont {
    font-size: 0.075rem;
}
.mapCls{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.statistics{
    background-image: url("../../images/rect.png");
    position: absolute;
    bottom: 2.777778%;
    width: 1.1235969715902827rem;
}
.countTitle{
    list-style: none;
    background-image: url("../../images/rect1.png");
    height: 0.3rem;
    display: block;
    margin-top: 0.05350839795655848rem;
    margin-left: 0.05421272373111838rem;
    margin-right: 0.05421272373111838rem;
    text-align: center;
}
.mapTitleCls{
    list-style: none;
    padding: 0.046776556776556776rem 0.05rem;
}
.countTitle li{
    float: left;
    height: 100%;
}
.mapTitleCls li{
    float: none;
}
.numberCls{
    font-family: 液晶数字字体;
    font-size: 0.1269109485831894rem;
    padding-top: 0.0155604395604396rem;
}
.mapContent{
    color: #40c5fa;
    font-size: 0.04829109485831894rem;
}

.infoContent{
    list-style: none;
    padding: 0.02116946598551951rem 0.05421272373111838rem;
    font-size: 0.04469109485831894rem;
}
.infoContent li{
    padding: 0.02rem 0;
    width: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.infoCls{
    padding-left: 0.02rem;
}

.refreshCls{
    background-image: url("../../images/back_btn_unlock.png");
    background-size: 100% 100%;
    position: absolute;
    top: 2.5rem;
    right: 0.2rem;
    width: 0.3rem;
    height: 0.3rem;
}